.btn-add-container{
  text-align: center;
  margin: 1em;
}
.btn-add{
  outline: 0;
  background-color: rgb(48, 141, 196);
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 0.7em;
  margin: 0.5em;
 cursor: pointer;
}

.contact-list{
  display: grid;
grid-template-columns: repeat(4, 4fr);
}


.contact-card {
  position: relative;
  border: 0.5px solid black;
  padding: 2em 3em;
  text-align: center;
  margin: 0.5em;
  height: 20em;
  width:15.5em;
  font-size: 0.8em;
}
.contact-card .btn-delete{
  outline: 0;
  border: none;
  cursor: pointer;
  background-color: rgb(231, 89, 71);
  border-radius: 50%;
  color: white;
  position: absolute;
  right: 0;
  margin: 0.3em;
  padding: 0.8em;
  font-size: 0.8em;
  text-align: center;
  transition: ease-in-out 0.2s;
}
.contact-card .btn-delete:hover{
  padding: 0.9em;
 transition: ease-in-out 0.2s;

}

.male-card {
  color: blue;
}

.female-card {
  color: pink;
}



@media (max-width: 700px) {
  .contact-list {
    grid-template-columns: repeat(1 , 3fr);
  justify-items: center;
  font-size: 0.7em;
  }
  .contact-card{
    padding: 1em 1em ;
    height: 15em;
    width: 20em;
  }
}